<% include ./partials/adminTop %>

<div class="col-10 mainarea fullheight">
    <h4>List with surveys</h4>
    <div class="list-area">
        <div class="list-group">
            <% surveys.forEach(survey =>{ %>
            <div href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= survey.title %></h5>
                    <small><%=moment(survey.createdAt).fromNow()%></small>
                </div>
                <div class="d-flex w-100 justify-content-end">

                    <% if(survey.visible === true){ %>
                        <a href="#" id="<%=survey._id%>" class="btn btn-link listOptionsLinkBtn" data-survey-id="<%=survey._id%>"><i class="fas fa-eye"></i>Visible</a>
                    <% } %>
                    <% if(survey.visible === false){ %>
                        <a href="#" id="<%=survey._id%>" class="btn btn-link listOptionsLinkBtn" data-survey-id="<%=survey._id%>"><i class="fas fa-eye-slash  text-muted"></i>Hidden</a>
                    <% } %>
                    <a href="#" class="btn listOptionsBtn" data-survey-id="<%=survey._id%>"><i class="fas fa-edit"></i>Edit</a>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
    <div class="listButtons float-right">
        <a href="/admin/createSurvey" class="btn btn-success">Add new</a>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="/public/js/surveyList.js"></script>

</body>

</html>